# Ensure consistent line endings
* text=auto
*.cjs text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.css text eol=lf
*.html text eol=lf

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.svg binary
